#preloader-container {
    display: grid;
    padding:100px;
    grid-template-areas: ". grid-content .";
    grid-template-columns: auto 40% auto;
    height: 100vh;

    @include xl {
        grid-template-columns: auto 400px auto;
    }

    >div {
        grid-area: grid-content;
    }
}